.aboutMainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
.hrLineContainer{
    display: flex;
    position: relative;
    /* top: 10vh; */
}
.hr1,.hr2{
    /* border: none; */
    position: absolute;
    top: 13%;
    width: 100vw;
}
.hr2{
    right: 0%;
}
.hrLineContainer__btn{
    position: absolute;
    left: 36%;
    top: -2.2vh;
    z-index: 1;
}
.desc{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    background-color: yellow;
    height: fit-content;
    margin-top: 8vh;
    padding: 10%;
    width: 100vw;
}
.desc__para__body2{
    text-align: justify;
}
/* Large Screen */
@media screen and (min-width: 600px){
    .hrLineContainer__btn{
        left: 46.5%;
    }
}