&{
    overflow-x: hidden;
}
/* About Main Contianer */
.aboutMainContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

/* Hr Lines */
.hrLineContainer {
    display: flex;
    position: relative;
}

.hr1,
.hr2 {
    border: none;
    border-top: 0.2px solid #D9D9D9;
    position: absolute;
    top: 13%;
    width: 98.6vw;
}

.hr2 {
    right: 0%;
}

.hrLineContainer__btn {
    position: absolute;
    left: 36%;
    top: -2.2vh;
    z-index: 1;
}

/* Description */
.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin-top: 1vh;
    padding: 10%;
    width: 100vw;
}

 .desc__para {
     margin-top: 2vh;
 }
.desc__para__body2 {
    text-align: justify;
}

/* Image */
.desc__pic {
    /* background-color: gray; */
    /* border-radius: 50%; */
    height: 230px;
    width: 200px;
}

.desc__pic>img {
    /* border-radius: 50%; */
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.desc>.hrLine {
    display: none;
}
/* Skills */
.desc__skills{
    /* background-color: yellow; */
    /* border-radius: 50%; */
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: fit-content;
    margin-top: -40vh;
    width: 100vw;
}
.desc__skill{
    border: 0.5px solid #D9D9D9;
    background-color: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.desc__skill>img{
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

/* EXPERIENCE */
.experience{
    /* background-color: hotpink; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: fit-content;
    padding: 5% 0;
    margin-top:-40vh;
    width: 85vw;
}
.experience__bodyText{
    text-align: justify;
    padding-top: 1vh;
}
.experience__details{
    display: flex;
    flex-direction: column;
}

/* Large Screen */
@media screen and (min-width: 600px) {
    .hrLineContainer__btn {
        top: 5vh;
        left: 14.5%;
    }

    /* Description */
    .desc {
        margin-top: -0.5vh;
        position: relative;
        flex-direction: row;
        gap: 50px;
        width: 90vw;
    }

    .desc>.hrLine {
        display: block;
        border: none;
        border-top: 0.2px solid #D9D9D9;
        width: 30vw;
        position: absolute;
        /* top: 10px; */
        left: 14%;
        margin-top: -85px;
        transform: rotate(90deg);
    }

    .desc__para {
        margin-top: -10vh;
    }

    /* Image */
    .desc__pic {
        overflow: hidden;
        height: 290px;
        width: 270px;
    }
    /* Skills */
    .desc__skills {
        min-height: fit-content;
        margin-top: -35vh;
        margin-left: 15vw;
        width: 70vw;

    }
    .desc__skill {
        height: 100px;
        width: 100px;
    }
    /* EXPERIENCE */
    .experience {
        /* background-color: hotpink; */
        margin-top: -29.5vh;
        margin-left: 17vw;
        height: 10vh;
        width: 66vw;
    }
    .experience__details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

}